<!DOCTYPE html>
<html>
<head>
    <title>CQ Web OS</title>
    <#include "/header.html">
</head>
<body>
<div class="container-fluid" style="padding: 0 !important;">
    <div class="row">
        <div class="col-sm-12">
            <#list noticeList as nc>
            <div class="alert alert-success alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                ${nc.content}
            </div><br>
        </#list>
        </div>
    </div>
</div>
</body>
</html>