<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="icon" type="image/x-icon" href="${ctxPath!}/img/favicon.ico"/>
<link rel="stylesheet" type="text/css" id="theme" href="${ctxPath!}/css/theme-default.css"/>
<script type="text/javascript" src="${ctxPath!}/js/plugin/jquery/jquery.min.js"></script>
<script type="text/javascript" src="${ctxPath!}/js/plugin/bootstrap/bootstrap.min.js"></script>
<script type="text/javascript" src="${ctxPath!}/js/plugin/bootstrap/bootstrap-table.js"></script>
<script type="text/javascript" src="${ctxPath!}/js/plugin/bootstrap/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="${ctxPath!}/js/plugin/bootstrap/bootstrap-timepicker.js"></script>
<script type="text/javascript" src="${ctxPath!}/js/plugin/jquery-validation/jquery.validate.js"></script>
<script type="text/javascript" src="${ctxPath!}/js/plugin/jquery-validation/messages_zh.min.js"></script>
<script type="text/javascript" src="${ctxPath!}/js/plugin/layer/layer.min.js"></script>
<script type="text/javascript" src="${ctxPath!}/js/plugin/layer/laydate/laydate.js"></script>
<script type="text/javascript" src="${ctxPath!}/js/plugin/ztree/jquery.ztree.all.min.js"></script>
<script type="text/javascript" src="${ctxPath!}/js/plugins.js"></script>
<script type="text/javascript" src="${ctxPath!}/js/actions.js"></script>
