<!-- START PAGE SIDEBAR -->
<div class="page-sidebar">
    <!-- START X-NAVIGATION -->
    <ul class="x-navigation">
        <li class="xn-logo">
            <a href="#">WEB OS</a>
            <a href="#" class="x-navigation-control"></a>
        </li>
        <li class="xn-title"></li>
        <li>
            <a href="${ctxPath!}/admin/index"><span class="fa fa-home"></span> <span class="xn-text"><@spring.message "Home"/></span></a>
        </li>
        <li class="xn-openable">
            <a href="#"><span class="fa fa-dashboard"></span> <span class="xn-text"><@spring.message "System"/></span></a>
        <ul>
                <@shiro.hasPermission name="system:user:index">
                <li><a href="${ctxPath!}/admin/user/index"><span class="fa fa-user"></span><@spring.message "UserM"/></a></li>
                </@shiro.hasPermission>
                <@shiro.hasPermission name="system:role:index">
                <li><a href="${ctxPath!}/admin/role/index"><span class="fa fa-wrench"></span><@spring.message "RoleM"/></a></li>
                </@shiro.hasPermission>
                <@shiro.hasPermission name="system:resource:index">
                <li><a href="${ctxPath!}/admin/resource/index"><span class="fa fa-users"></span><@spring.message "ResourceM"/></a></li>
                </@shiro.hasPermission>
                <@shiro.hasPermission name="system:notice:index">
                <li><a href="${ctxPath!}/admin/notice/index"><span class="fa fa-warning"></span><@spring.message "NoticeM"/></a></li>
                </@shiro.hasPermission>
                <@shiro.hasPermission name="system:loginlog:index">
                <li><a href="${ctxPath!}/admin/loginlog/index"><span class="fa fa-file"></span><@spring.message "LoginlogM"/></a></li>
                </@shiro.hasPermission>
                <@shiro.hasPermission name="system:log:index">
                <li><a href="${ctxPath!}/admin/log/index"><span class="fa fa-floppy-o"></span><@spring.message "LogM"/></a></li>
                </@shiro.hasPermission>
           </ul>
        </li>
        <li class="xn-openable">
            <a href="#"><span class="fa fa-truck"></span> <span class="xn-text"><@spring.message "Transport"/></span></a>
            <ul>
                <@shiro.hasPermission name="transport:vehicle:index">
                <li><a href="${ctxPath!}/transport/vehicle/index"><span class="fa fa-car"></span><@spring.message "VehicleM"/></a></li>
                </@shiro.hasPermission>
                <@shiro.hasPermission name="transport:driver:index">
                <li><a href="${ctxPath!}/transport/driver/index"><span class="fa fa-male"></span><@spring.message "DriverM"/></a></li>
                </@shiro.hasPermission>
                <@shiro.hasPermission name="transport:flight:index">
                <li><a href="${ctxPath!}/transport/flight/index"><span class="fa fa-plane"></span><@spring.message "FlightM"/></a></li>
                </@shiro.hasPermission>
                <@shiro.hasPermission name="transport:route:index">
                <li><a href="${ctxPath!}/transport/route/index"><span class="fa fa-random"></span><@spring.message "RouteM"/></a></li>
                </@shiro.hasPermission>
                <@shiro.hasPermission name="transport:shift:index">
                <li><a href="${ctxPath!}/transport/shift/index"><span class="fa fa-random"></span><@spring.message "ShiftM"/></a></li>
                </@shiro.hasPermission>
            </ul>
        </li>
    </ul>
<!-- END X-NAVIGATION -->
</div>
<!-- END PAGE SIDEBAR -->