<!DOCTYPE html>
<html lang="en">
<head>
    <!-- META SECTION -->
    <title>CQ WebOS</title>
    <#include "/header.html">
</head>
<body>

<!-- PAGE CONTENT -->
<div class="page-content">
    <!-- PAGE CONTENT WRAPPER -->
    <div class="page-content-wrap">
        <div class="row">
            <div class="col-md-12">
                <!-- START JQUERY VALIDATION PLUGIN -->
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form id="jvalidate" role="form" method="post" class="form-horizontal" action="${ctxPath!}/transport/driver/add">
                            <input type="hidden" id="id" name="id" value="${driver.id}">
                            <div class="form-group">
                                <label class="col-md-3 control-label">司机姓名:</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" name="name" id="name" value="${driver.name}"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">电话号码:</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" name="phone" id="phone" value="${driver.phone}"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">驾照类型:</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" name="type" id="type" value="${driver.type}"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">驾照过期时间:</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control datepicker" name="licenseExpireDate" id="licenseExpireDate" value="${driver.licenseExpireDate}"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">备注:</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control"  name="remark" id="remark" value="${vehicle.remark}"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">状态:</label>
                                <div class="col-md-9">
                                    <select name="status" class="form-control">
                                        <option value="0" <#if driver.status == 0>selected="selected"</#if>>正常</option>
                                        <option value="1" <#if driver.status == 1>selected="selected"</#if>>工作中</option>
                                        <option value="2" <#if driver.status == 2>selected="selected"</#if>>休假</option>
                                        <option value="3" <#if driver.status == 3>selected="selected"</#if>>伤病</option>
                                        <option value="4" <#if driver.status == 3>selected="selected"</#if>>离职</option>
                            </select>
                    </div>
                </div>
                <div class="btn-group pull-right">
                    <button class="btn btn-primary" type="submit"><@spring.message "Submit"/></button>
                </div>
            </div>
            </form>
        </div>
    </div>
    <!-- END JQUERY VALIDATION PLUGIN -->
</div>
</div>
<!-- PAGE CONTENT WRAPPER -->
</div>
<!-- END PAGE CONTENT -->
</div>
<script type="text/javascript">
    var jvalidate = $("#jvalidate").validate({
        rules: {
            name: {
                required: true
            },
            phone: {
                minlength: 7,
                required: true
            },
            type: {
                required: true
            },
            licenseExpireDate: {
                required: true
            },
            status: {
                required: true
            }
        },
        messages: {},
        submitHandler:function(form){
            $.ajax({
                type: "POST",
                dataType: "json",
                url: "${ctxPath!}/transport/vehicle/add",
                data: $(form).serialize(),
                success: function(msg){
                    layer.msg(msg.message, {time: 1000},function(){
                        var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                        parent.layer.close(index);
                    });
                }
            });
        }
    });
</script>
</body>
</html>