<!DOCTYPE html>
<html lang="en">
<head>
    <title>Servicerecord List</title>
    <#include "/header.html">
</head>
<body>
<!-- START PAGE CONTAINER -->
<div class="page-container">
    <!-- START PAGE SIDEBAR -->
    <#include "/siderbar.html">
    <!-- PAGE CONTENT -->
    <div class="page-content">
        <!-- START X-NAVIGATION VERTICAL -->
        <#include "/navigation.html">
        <ul class="breadcrumb">
            <li>
                <a href="${ctxPath!}/admin/index"><span class="fa fa-home"></span> <span class="xn-text"><@spring.message "Home"/></span></a>
            </li>
            <li>
                <span class="fa fa-user-circle-o"></span>&nbsp;<@spring.message "ServicerecordM"/>
            </li>
            <li>
                <span>Welcome <@shiro.principal type="com.cq.web.entity.admin.User" property="nickName"/></span>
            </li>
        </ul>
        <!-- PAGE CONTENT WRAPPER -->
        <div class="page-content-wrap">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="panel-body">
                            <@shiro.hasPermission name="transport:servicerecord:add">
                            <button class="btn btn-primary  btn-xs" type="button" onclick="add();"><i class="fa fa-plus"></i>&nbsp;<@spring.message "Add"/></button>
                        </@shiro.hasPermission>
                    </div>
                </div>
            </div>
            <div class="panel-body form-inline">
                <div class="form-group">
                    <label class="control-label">保养时间范围：</label>
                    <input id="beginTime" type="text" class="form-control datepicker" placeholder="从什么时间">
                    <input id="endTime" type="text" class="form-control datepicker" placeholder="到什么时间">
                </div>

                <button id="search" type="button" class="btn btn-primary">搜索</button>
                <button id="reset" type="button" class="btn btn-default">重置</button>
            </div>
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-actions" id="tableList"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- PAGE CONTENT WRAPPER -->
    </div>
    <!-- END PAGE CONTENT -->
</div>
<!-- END PAGE CONTAINER -->
<!-- MESSAGE BOX-->
<#include "/messagebox.html">
<script>
    $(document).ready(function () {
        $("#tableList").bootstrapTable({
            //使用get请求到服务器获取数据
            method: "POST",
            //必须设置，不然request.getParameter获取不到请求参数
            contentType: "application/x-www-form-urlencoded",
            //获取数据的Servlet地址
            url: "${ctxPath!}/transport/servicerecord/list",
            //表格显示条纹
            striped: true,
            //启动分页
            pagination: true,
            //每页显示的记录数
            pageSize: 10,
            //当前第几页
            pageNumber: 1,
            //记录数可选列表
            pageList: [5, 10, 15, 20, 25],
            search: false,
            //表示服务端请求
            sidePagination: "server",
            //设置为undefined可以获取pageNumber，pageSize，searchText，sortName，sortOrder
            //设置为limit可以获取limit, offset, search, sort, order
            queryParamsType: "undefined",
            //json数据解析
            responseHandler: function(res) {
                return {
                    "rows": res.content,
                    "total": res.totalElements
                };
            },
            //数据列
            columns: [
                {title: "ID", field: "id", sortable: true},
                {title: "保养时间", field: "serviceDate",
                    formatter: function (value, row, index) {
                        var date = new Date(value);
                        return date.getFullYear() + '-' + (date.getMonth()+1 < 10 ? '0'+(date.getMonth()+1) : date.getMonth()+1) + '-' + date.getDate();
                    }},
                {title: "保养明细", field: "detail"},
                {title: "保养车辆", field: "vehicle.plate",sortable: true},
                {title: "花费", field: "expense"},
                {title: "备注", field: "remark"},
                {title: "操作", field: "empty",
                    formatter: function (value, row, index) {
                        var operateHtml = '<@shiro.hasPermission name="transport:servicerecord:edit"><button class="btn btn-primary btn-xs" type="button" onclick="edit(\''+row.id+'\')">编辑</button> &nbsp;</@shiro.hasPermission>';
                        operateHtml = operateHtml + '<@shiro.hasPermission name="transport:servicerecord:settle"><button class="btn btn-warning btn-xs" type="button" onclick="settle(\''+row.id+'\')">结算</button> &nbsp;</@shiro.hasPermission>';
                        return operateHtml;
                    }
                }]
        });
    });


    function settle(){

    }
    function add(){
        layer.open({
            type: 2,
            title: '保养记录添加',
            shadeClose: true,
            shade: false,
            area: ['893px', '600px'],
            content: '${ctxPath!}/transport/servicerecord/add',
            end: function(index){
                $('#tableList').bootstrapTable("refresh");
            }
        });
    }
    function edit(id){
        layer.open({
            type: 2,
            title: '保养记录修改',
            shadeClose: true,
            shade: false,
            area: ['893px', '600px'],
            content: '${ctxPath!}/transport/servicerecord/edit/'+ id,
            end: function(index){
                $('#tableList').bootstrapTable("refresh");
            }
        });
    }

    $(function () {

        $('#search').click(function () {
            var beginTime = $('#beginTime').val();
            var endTime = $('#endTime').val();
            $('#tableList').bootstrapTable('refresh', { url: "${ctxPath}/transport/servicerecord/list?beginTime=" + beginTime +"$endTime=" + endTime });
        });

        $('#reset').click(function() {
            $('#beginTime').val('');
            $('#endTime').val('');
            $('#tableList').bootstrapTable('refresh', { url: "${ctxPath}/transport/servicerecord/list" });
        });
    });
</script>
</body>
</html>